.colT{margin-top: -6rem !important;}
.my--10
{
  margin-top: -0rem !important;
}
.my-auto1
{
  margin-top: auto !important;
}
.mt-10{
  margin-top: 10px !important;
}
.mt{
  margin-bottom: 20px !important;
  margin-top: 30px !important;
}
.mp{
  margin-top: -100px
}

.mb{
  margin-bottom: 50px !important;
}

.mg{
  height: 100px !important;
  right: 140px !important;
  margin-top: -120px !important;
  margin-left: 100px !important;
}
