.colT{margin-top: -6rem !important;}
.my--10
{
  margin-top: -0rem !important;
}
.my-auto1
{
  margin-top: auto !important;
}
.mt-10{
  margin-top: 10px !important;
}
.mbt{
  margin-bottom: 20px;
  margin-top: -30px;
}
.mt{
  margin-bottom: 380px !important;
  margin-top: 60px !important;
}
