.mostarMenu{
  margin-left: -2px !important;
}
.mg{
  height: 30px !important;
  right: 30px !important;
  opacity: 0.2;
}
.mgx{
  height: 25px !important;
  right: 25px !important;
  margin-top: -2px !important;
  opacity: 0.2;
}
.sair{
  margin-top: -30px !important;
  margin-right: -130px !important;
}
