<!-- Sidenav-->
<app-sidebar *ngIf="mostrarMenu === true"></app-sidebar>
<div class="main-content" [ngClass]="{'mostarMenu' : mostrarMenu === false}">
  <div class="header bg-gradient-danger py-1 ">
  <img *ngIf="mostrarMenu === false" src="assets/img/mostrar.png" class="mg" (click)="mostrar()" title="Mostrar menu">
  <img *ngIf="mostrarMenu === true" src="assets/img/ocutar.png" class="float-left mgx"  (click)="ocutar()" title="Ocutar menu">
    <div class="container">
        <div class="row justify-content-end">
            <a class="text-lead text-light float-right" [ngClass]="{'sair' : mostrarMenu === false}" [routerLink]="['/login']" (click)="logout()">Sair</a>
        </div>
    </div>
  </div>

  <!-- Top navbar -->
  <router-outlet></router-outlet>
  <div class="container-fluid">
    <app-footer></app-footer>
  </div>
</div>
