<div class="header bg-gradient-danger py-4 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-2">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Cadastro de Usuário</h1>
          <p class="text-lead text-light">Preencha com atenção todos os dados!</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- pagina content -->
<div class="col-xl-8 order-xl-1 ml-sm-9 " >
  <div class="card bg-secondary shadow my--10 my-auto">
    <div class="card-header bg-white border-0">
      <div class="row align-items-center">
        <div class="col-8">
          <h3 class="mb-0">Cadastro de Usuário</h3>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form [formGroup]="formPerson">
        <h6 class="heading-small text-muted mb-4">Informações do Usuário</h6>
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Nome completo</label>
                <input type="text" id="fullName" class="form-control" placeholder="name" [value]="fullName"
                       required minlength="5" formControlName="fullName">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Email</label>
                <input type="email" id="email" required  class="form-control" placeholder="nome@exemplo.com" formControlName="email" [value]="email">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Nome da Mãe</label>
                <input type="text" id="mothersName" class="form-control" placeholder="Nome da Mãe" formControlName="mothersName" [value]="mothersName">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Nome do Pai</label>
                <input type="text" id="fathersName" class="form-control" placeholder="Nome do Pai" formControlName="fathersName" [value]="fathersName">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 ">
              <div class="form-group">
                <label class="form-control-label">CPF</label>
                <input type="text" id="documentNumber" class="form-control" placeholder="CPF" formControlName="documentNumber" [value]="documentNumber">
              </div>
            </div>
            <div class="col-lg-6 ">
              <div class="form-group">
                <label class="form-control-label">Data de Nascimento</label>
                <input type="date" id="birthDate" class="form-control" placeholder="Data de nascimento" formControlName="birthDate" [value]="birthDate">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2" formArrayName="phone">
              <div class="form-group">
                <label class="form-control-label">DDD</label>
                <input type="number" id="areaCode" class="form-control" placeholder="DDD" formControlName="areaCode" [value]="areaCode">
              </div>
            </div>
            <div class="col-lg-4 " formArrayName="phone">
              <div class="form-group">
                <label class="form-control-label">Telefone</label>
                <input type="number" id="number" class="form-control" placeholder="Telefone" formControlName="number" [value]="number">
              </div>
            </div>
            <div class="col-lg-3" formArrayName="height">
              <div class="form-group">
                <label class="form-control-label">Altura</label>
                <input type="number" id="height" class="form-control" placeholder="Altura" formArrayName="height" [value]="height">
              </div>
            </div>
            <div class="col-lg-3" formArrayName="height">
              <div class="form-group">
                <label class="form-control-label" >Peso(KG)</label>
                <input type="number" id="weight" class="form-control" placeholder="Peso" formArrayName="weight" [value]="weight">
              </div>
            </div>
          </div>
          <!-- Address -->
          <h6 class="heading-small text-muted mb-4">Endereço</h6>
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group" formArrayName="address">
                  <label class="form-control-label" >CEP</label>
                  <input type="text" id="zipCode" class="form-control valid" placeholder="cep"
                         [value]="zipCode" (blur)="buscarCep($event.target.value)" formControlName="zipCode">
                  <div class="invalid-feedback "> CEP invalido</div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group" formArrayName="address">
                  <label class="form-control-label" >Logradouro</label>
                  <input class="form-control" id="neighborhood" placeholder="Lagradouro" [value]="neighborhood" formControlName="neighborhood">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group" formArrayName="address">
                  <label class="form-control-label" >Bairro</label>
                  <input class="form-control" id="street" placeholder="Bairro" [value]="street" formControlName="street">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group" formArrayName="address">
                  <label class="form-control-label">Cidade</label>
                  <input type="text" id="city" class="form-control" placeholder="Cidade" [value]="city" formControlName="city">
                </div>
              </div>
              <div class="col-lg-2">
                <div class="form-group" formArrayName="address">
                  <label class="form-control-label">Estado</label>
                  <input type="text" id="state" class="form-control" placeholder="Estado" [value]="state" formControlName="state">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group" formArrayName="address">
                  <label class="form-control-label">Complemento</label>
                  <input type="text" id="complement" class="form-control" placeholder="complemento" [value]="complement" formControlName="complement">
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <button [routerLink]="['/register-vaccine']" class="btn btn-info offset-lg-8 active" (click)="cadastrar()">Cadastrar Vacinas</button>
          </div>
      </form>
    </div>
  </div>
</div>
