<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center mp">
        <div class="col-lg-5 col-md-6 "  style="margin-top: 10px !important;">
          <a class="alinhar" routerLinkActive="active">
            <img src="./assets/img/CVV_letra_branca.png" class="mg" alt="...">
          </a>
          <h3 class="text-lead text-light">O cartão de vacina virtual possibilita um fácil acesso ao seu histórico de vacinas, evitando problemas como cartões duplicados e perca de cartões</h3>
        </div>
      </div>
    </div>
  </div>
<!-- Page content -->
<div class="container mt--8 pb-5 mt-20">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10" style="margin-top: 100px !important;">
      <div class="card bg-secondary shadow my--10 my-auto">
        <div class="card-header bg-transparent pb-5">
          <div class="text-muted text-center mt-2 mb-3 mb"><small>Entrar Com</small></div>
          <form role="form" #form= 'ngForm' [formGroup]="formLogin"
                novalidate (submit)="login()">
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" placeholder="E-mail" type="text"
                       formControlName="usuario">
              </div>
              <small class="text-danger d-block mt-2"
                     *ngIf="formLogin.get('usuario')?.dirty && formLogin.get('usuario')?.invalid">
                  Usuário inválido!
                </small>
              <small class="text-danger d-block mt-2"
                     *ngIf="formLogin.get('usuario')?.invalid  && form.submitted">
                  Usuário é obrigatório
                </small>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" placeholder="senha" type="password" id="senha"
                       formControlName="senha">
              </div>
              <small class="text-danger d-block mt-2"
                     *ngIf="formLogin.get('senha')?.invalid  && form.submitted">
                Senha é obrigatória
              </small>
              <small class="text-danger d-block mt-2"
                     *ngIf="formLogin.get('senha')?.dirty && formLogin.get('senha')?.invalid  || formLogin.get('senha').errors?.pattern ">
                      Tamanho da senha é de 8 caracteres
                </small>
            </div>
            <div class="custom-control custom-control-alternative custom-checkbox">
              <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
              <label class="custom-control-label" for=" customCheckLogin">
                <span class="text-muted">Lembrar</span>
              </label>
            </div>
            <div class="text-center" >
              <button type="button" class="btn btn-primary my-4" (click)="login()">Entrar</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <a routerLink="/recuperar-senha" class="text-light float-right"><small>Esqueceu a senha?</small></a>
        </div>
      </div>
    </div>
  </div>
