<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">{{pessoa.fullName}}</h1>
        <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
        <a href="#!" class="btn btn-info">Edit profile</a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="C:\usr\diretorio\file.png" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Connect</a>
            <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Message</a>
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="text-center">
            <h3>
              {{pessoa.fullName}}<span class="font-weight-light">{{pessoa.birthDate}} - 10</span>
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>Bucharest, Romania
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>University of Computer Science
            </div>
            <hr class="my-4" />
            <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music.</p>
            <a href="javascript:void(0)">Show more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Minha conta</h3>
            </div>
            <div class="col-4 text-right">
              <a class="btn btn-sm btn-primary" (click)="editar()">Editar</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="formPerson" novalidate>
            <h6 class="heading-small text-muted mb-4">Informações do usuário</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Nome</label>
                    <input [disabled]="edit" type="text" id="input-username" class="form-control form-control-alternative" placeholder="Username" [value]="pessoa.fullName">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email</label>
                    <input [disabled]="edit"  type="email" id="input-email" class="form-control form-control-alternative" [value]="pessoa.email">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Nome da Mãe</label>
                    <input [disabled]="edit" type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="First name" [value]="pessoa.mothersName" >
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Nome do Pai</label>
                    <input [disabled]="edit" type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="Last name" [value]="pessoa.fathersName">
                  </div>
                </div>
              </div>
                <div class="row">
                  <div class="col-lg-4 ">
                    <div class="form-group">
                      <label class="form-control-label">CPF</label>
                      <input id="documentNumber" class="form-control" placeholder="CPF"
                             formControlName="documentNumber" [value]="pessoa.documentNumber">
                    </div>
                  </div>
                  <div class="col-lg-4 ">
                    <div class="form-group">
                      <label class="form-control-label">Data de Nascimento</label>
                      <input type="date" id="birthDate" class="form-control" placeholder="Data de nascimento"
                             formControlName="birthDate" [value]="pessoa.birthDate">
                    </div>
                  </div>
                  <div class="col-lg-4 ">
                    <div class="form-group">
                      <label class="form-control-label">Sexo</label>
                      <select id="sexType" class="form-control" formControlName="sexType" [value]="pessoa.sexType">
                        <option value="M">Masculino</option>
                        <option value="F">Feminino</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2" formArrayName="phone">
                    <div class="form-group">
                      <label class="form-control-label">DDD</label>
                      <input type="number" id="areaCode" class="form-control" placeholder="061" formControlName="areaCode"
                             [value]="areaCode">
                    </div>
                  </div>
                  <div class="col-lg-4 " formArrayName="phone">
                    <div class="form-group">
                      <label class="form-control-label">Telefone</label>
                      <input type="number" id="number" class="form-control" placeholder="999999999" formControlName="number"
                             [value]="number">
                    </div>
                  </div>
                  <div class="col-lg-3" formArrayName="height">
                    <div class="form-group">
                      <label class="form-control-label">Altura</label>
                      <input type="number" id="height" class="form-control" placeholder="Altura" formControlName="height"
                             [value]="height">
                    </div>
                  </div>
                  <div class="col-lg-3" formArrayName="height">
                    <div class="form-group">
                      <label class="form-control-label">Peso(KG)</label>
                      <input type="number" id="weight" class="form-control" placeholder="Peso" formControlName="weight"
                             [value]="weight">
                    </div>
                  </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Informações do endereço</h6>
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group" formArrayName="address">
                  <label class="form-control-label">CEP</label>
                  <input [disabled]="edit" type="number" id="zipCode" class="form-control" placeholder="cep"
                         [value]="zipCode" formControlName="zipCode">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group" formArrayName="address">
                  <label class="form-control-label">Logradouro</label>
                  <input [disabled]="edit" class="form-control" id="neighborhood" placeholder="Lagradouro" [value]="neighborhood"
                         formControlName="neighborhood">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group" formArrayName="address">
                  <label class="form-control-label">Bairro</label>
                  <input [disabled]="edit" class="form-control" id="street" placeholder="Bairro" [value]="street" formControlName="street">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group" formArrayName="address">
                  <label class="form-control-label">Cidade</label>
                  <input [disabled]="edit" type="text" id="city" class="form-control" placeholder="Cidade" [value]="city"
                         formControlName="city">
                </div>
              </div>
              <div class="col-lg-2">
                <div class="form-group" formArrayName="address">
                  <label class="form-control-label">Estado</label>
                  <input [disabled]="edit" type="text" id="state" class="form-control" placeholder="Estado" [value]="state"
                         formControlName="state">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group" formArrayName="address">
                  <label class="form-control-label">Complemento</label>
                  <input [disabled]="edit" type="text" id="complement" class="form-control" placeholder="complemento" [value]="complement"
                         formControlName="complement">
                </div>
              </div>
            </div>
           </form>
        </div>
      </div>
    </div>
  </div>
</div>
