
<div class="header bg-gradient-danger py-8 py-lg-12">
  <div class="container">
    <div class="header-body text-center mb-6">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-9">
          <h1 class="text-white"> Meus Dados </h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--8">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Dados Pessoais</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Informação do usuário</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Nome do usuário</label>
                    <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="" value="">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">E-mail</label>
                    <input type="email" id="email" class="form-control form-control-alternative">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Primeiro nome</label>
                    <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="" value="">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name"> Último nome</label>
                    <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="" value="">
                  </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-first-name">Nome da Mãe</label>
                      <input type="text" id="nomaMae" class="form-control form-control-alternative" placeholder="" value="">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-first-name">Nome da Pai</label>
                      <input type="text" id="nomaPai" class="form-control form-control-alternative" placeholder="" value="">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-country">Data de Nascimentos</label>
                        <input type="text" id="dataNascimento" class="form-control form-control-alternative">
                      </div>
                    </div>
                    <div class="col-lg-5">
                      <div class="form-group">
                        <label class="form-control-label" for="input-city">CPF</label>
                        <input type="text" id="CPF" class="form-control form-control-alternative">
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Endereço -->
            <h6 class="heading-small text-muted mb-4">Informações de Contato</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Endereço</label>
                    <input id="input-address" class="form-control form-control-alternative" placeholder="" value="" type="text">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Município de Nascimentos</label>
                    <input id="mNascimento" class="form-control form-control-alternative">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">Cidade</label>
                    <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="" value="">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">País</label>
                    <input type="text" id="input-country" class="form-control form-control-alternative" placeholder="" value="">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">UF</label>
                    <input type="text" id="uf" class="form-control form-control-alternative">
                  </div>
                </div>
              </div>
              
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">Bairro</label>
                    <input type="text" id="bairro" class="form-control form-control-alternative">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">CEP</label>
                    <input type="text" id="cep" class="form-control form-control-alternative">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Unidade que frequenta</label>
                    <input type="text" id="unidadeFre" class="form-control form-control-alternative">
                  </div>
                </div>
              </div>
            </div>

            <h6 class="heading-small text-muted mb-4">Registros</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Nº do Prontuário na UBS</label>
                    <input id="ubs" class="form-control form-control-alternative" placeholder="">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Nº da Declaração de Nascido Vivo</label>
                    <input id="nNascimento" class="form-control form-control-alternative" placeholder="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Nº do Registro Civil de Nascimento</label>
                    <input type="text" id="registroCivil" class="form-control form-control-alternative" placeholder="">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Nº do Cartão do SUS</label>
                    <input type="text" id="nSus" class="form-control form-control-alternative">
                  </div>
                </div>
              </div>
            </div>

            <hr class="my-4" />
            <!-- Descrição -->
            <h6 class="heading-small text-muted mb-4">Sobre mim</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label>Sobre mim</label>
                <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about you ...">Seja bem vindo ao seu cartão virtual.</textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
