<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center" style="margin-top: -100px">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Consulta de pessoas</h1>
          <p class="text-lead text-light">Abaixo segue a lista de todas as pessoas cadastradas no sistema, ao lado direito dos dados existe um botão de editar, onde é possivel editar seus dados pessoais.</p>
        </div>
      </div>
    </div>
  </div>
      <!-- Page content
        <div class="container float-right mbt">
          <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
            <div class="form-group mb-0" [ngClass]="{ 'focused': focus === true }">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-search"></i></span>
                </div>
                <input class="form-control " placeholder="Pesquisar" type="text"
                       #termoPesquisa (keyup)="pesquisarPessoa(termoPesquisa.value)">
              </div>
            </div>
          </form>
        </div>-->

<div class="container-fluid mt--7" >
  <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto mbt">
    <div class="form-group mb-0" [ngClass]="{ 'focused': focus === true }">
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-search"></i></span>
        </div>
        <input class="form-control " placeholder="Pesquisar por nome" type="text"  #termoPesquisa (keyup)="pesquisa(termoPesquisa.value)">
      </div>
    </div>
  </form>
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Tabela de Pessoas</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Documento</th>
              <th scope="col">Telefone</th>
              <th scope="col">Email</th>
              <th scope="col">Data de nascimento</th>
              <th scope="col">Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pessoa of pessoas | filterPipe:searchterm">
              <th scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    <span class="mb-0 text-sm">{{pessoa.fullName}}</span>
                  </div>
                </div>
              </th>
              <td>
                {{pessoa.documentNumber}}
              </td>
              <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i>{{pessoa.phone.areaCode}} {{pessoa.phone.number}}
                  </span>
              </td>
              <td>{{pessoa.email}}</td>
              <td>{{pessoa.birthDate}}</td>
              <td class="text-right">
                <div ngbDropdown placement="bottom-right">
                  <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                    <a class="dropdown-item" (click)="editarPessoa(pessoa.uuid)">Perfil completo/Editar</a>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)"  (click)="listarPessoasPag1()">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)" (click)="listarPessoasPag2()">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
