<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center" style="margin-top: -100px">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Consulta de pessoas</h1>
          <p class="text-lead text-light">Abaixo segue a lista de todas as pessoas
            cadastradas no sistema, ao lado esquerdo dos dados tem um botão de editar,
            onde é possivel editar seus dados pessoais e vacinas.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="header-body">
      <!-- Page content -->
      <div class="container-fluid mt--7 ">
        <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
          <div class="form-group mb-0" [ngClass]="{ 'focused': focus === true }">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
              </div>
              <input class="form-control" placeholder="Pesquisar" type="text" (focus)="focus = true"
                     (blur)="focus = false">
            </div>
          </div>
        </form>
        <!-- Table -->
            <div class="card shadow ml--100i mr--100i" >
              <div class="card-header bg-transparent">
                <h3 class="mb-0">Usuários</h3>
              </div>
              <div class="card">
                  <div class="table-responsive ">
                    <table class="table-sm" >
                          <tr>
                            <th >Nome</th>
                            <th >Documento</th>
                            <th >Telefone</th>
                            <th >Nome da Mãe</th>
                            <th >Nome do Pai</th>
                            <th >Email</th>
                            <th >Data de Nascimento</th>
                            <th>Endereço</th>
                            <th >Peso</th>
                            <th >Altura</th>
                            <th>Ações</th>
                          </tr>
                          <tr *ngFor="let pessoa of pessoas" >
                            <td>{{pessoa.fullName}}</td>
                            <td>{{pessoa.documentNumber}}</td>
                            <td>{{pessoa.phone.areaCode}} {{pessoa.phone.number}}</td>
                            <td>{{pessoa.mothersName}}</td>
                            <td>{{pessoa.fathersName}}</td>
                            <td>{{pessoa.email}}</td>
                            <td>{{pessoa.birthDate}}</td>
                            <td>
                              {{pessoa.address.city}}
                              {{pessoa.address.street}}
                              {{pessoa.address.neighborhood}}
                              {{pessoa.address.state}}
                              {{pessoa.address.complement}}
                            </td>
                            <td>{{pessoa.height.height}}</td>
                            <td>{{pessoa.height.weight}}</td>
                            <td><button class="btn btn-danger">Editar</button></td>
                          </tr>
                    </table>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
