.mr-10{
  margin-right: -25px !important;
}
.mg{
  height: 50px !important;
  right: 80px !important;
  margin-top: 05px !important;
}
.ig{
  margin-bottom: -40px !important;
}
.alinhar{
  margin-left: 30%!important;
}
