<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container">
    <div class="header-body text-center mb-2">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Cadastro de Vacina</h1>
          <p class="text-white">O botão info serve para abrir as informações da vacina caso necessário</p>
        </div>
      </div>
    </div>
  </div>
      <div class="">
          <img class="imgAtencao" src="../../../assets/img/info.png" title=" As cores dos icones servem para identificar pra quem as vacinas são destinadas.
                  AZUL: Vacinas para as crianças.
                  LARANJA: Vacinas para os adolecentes.
                  ROSA: Vacinas para os adultos">
      </div>

  <div class="container-fluid">
    <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto mbt">
      <div class="form-group mb-0" [ngClass]="{ 'focused': focus === true }">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <input class="form-control " placeholder="Pesquisar por nome" type="text"  #termoPesquisa (keyup)="pesquisa(termoPesquisa.value)">
        </div>
      </div>
    </form>
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6" *ngFor="let vacina of vacinas | filterVacina: searchterm">
          <div class="card card-stats mb-4 mb-xl-0 margin-card">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">{{vacina.name}}
                  </h5>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <img class="imgTam" [src]=[img_vacina]>
                  </div>
                </div>
               </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <button class=" mr-2 btn btn-sm btn-default float-right" (click)=abrirModal(modalVacina,vacina.uuid)>Info</button>
                <button class="text-nowrap btn btn-sm btn-primary" (click)="abrirModalAplocar(modalAplicar, vacina)">Aplicar</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  <ng-template #modalAplicar >
    <div class="modal-body">
      <div class="row">
        <label class="form-control-label">Selecione a unidade de saúde de aplicação</label>
        <select class="form-control" [value]="sideEffectId" #local>
          <option selected>Selecione...</option>
          <option *ngFor="let local of locais" [value]="local.uuid" >{{local.name}}</option>
        </select>
    </div>
    <div class="row mt-20">
      <label class="form-control-label">Selecione o número da dose</label>
      <select class="form-control" [value]="sideEffectId">
        <option selected>Selecione...</option>
        <option>1 Dose</option>
        <option>2 Dose</option>
        <option>3 Dose</option>
      </select>
    </div>
</div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="aplicarDosagem(local.value,modalAplicar)">Finalizar</button>
    </div>
  </ng-template>

    <ng-template #modalVacina>
      <div class="modal-register">
        <div class="modal-body">
            <table class="table-bordered" >
              <thead class="text-uppercase text-muted mb-0" >
              <tr class="row table-active">
                <th class="col">
                  <p class="pn1">DETALHAMENTO </p>
                  <p class="pn">{{vacinaPorNome.name}}</p>
                </th>
              </tr>
              </thead>

              <tbody>
              <tr class="row">
                <td class="col tdn"> Proteção Contra:</td>
                <td class="col">{{vacinaPorNome.disease}} </td>
              </tr>
              <tr class="row">
                <td class="col tdn"> Composição:</td>
                <td class="col">{{vacinaPorNome.composition}}</td>
              </tr>
              <tr class="row">
                <td class="col tdn"> Nº Doses:</td>
                <td class="col"> {{vacinaPorNome.basicVaccination}}</td>
              </tr>
              <tr class="row">
                <td class="col tdn"> Intervalo entre as doses:</td>
                <td class="col">Recomendado: Min:</td>
              </tr>
              <tr class="row">
                <td class="col tdn"> Dosagem:</td>
                <td class="col"></td>
              </tr>
              <tr class="row">
                <td class="col tdn">Via de administração:</td>
                <td class="col">{{vacinaPorNome.routeAdministration}}</td>
              </tr>
              <tr class="row">
                <td class="col tdn"> Local da aplicação:</td>
                <td class="col">{{vacinaPorNome.applicationLocation}}</td>
              </tr>
              <tr class="row">
                <td class="col tdn"> Agulha hipodérmica recomendada:</td>
                <td class="col">{{vacinaPorNome.needle}}</td>
              </tr>
              <tr class="row">
                <td class="col tdg"> Tempo de validade após aberto frasco:</td>
                <td class="col">{{vacinaPorNome.validityAfterOpen}}</td>
              </tr>
              <tr class="row">
                <td class="col tdg"> Alguns eventos adversos:</td>
                <td class="col tdgn"> {{vacinaPorNome.sideEffect}}
                </td>
              </tr>
              </tbody>
            </table>
          </div>
      </div>

    </ng-template>
</div>
